body {
	font-family: Tahoma, Verdana;
	font-size: 12px;
	margin: 0px;
	background-color: #fff;
    color: #823c67;
}

body {
        padding: 0;
        margin: 0;
    }

html, body, #map {
        height: 100%;
        width: 100%;
}

a {
color: #823c67;    
text-decoration: none;
}

a:hover {
color: #FF00FF;    
text-decoration: underline;
}

a:visited, a:active {
color: #823c67;    
text-decoration: none;    
}

@media screen and (min-width:1024px) {
	#container {
		width: 100%;
	}
	#header {
		width: 100%;
		margin: 0px auto;
		background-color: #fff;
	}
	#logo {
		width: 100%;	
	}
	#header-bar {
		height: 30px;
		background-color: #cacaca;
        position: fixed; 
        top: 0; 
        left: 0; 
        z-index: 9999; 
        width: 100%; 

	}
	.header {
		width: 100%;
		margin: 0px auto;
	}
	#content {
		width: 100%;
		margin: 0px auto;
		background-color: #fafafa;
        margin-top: 30px;
        padding: 5px;

	}
	.footer {
		background-color: #cacaca;
		padding: 10px;    
	}
}

@media screen and (min-width:800px) and (max-width:1024px) {
	#container {
		width: 1024px;    
	}
	
	#header {
		width: 1024px;
		margin: 0px auto;
		background-color: #fff;
	}
	#logo {
		width: 1024px;
	}
	#logo img {
		width: 1024px;
	}
	#header-bar {
		height: 30px;
		background-color: #cacaca;
	}
	.header {
		width: 1024px;
	}
	#content {
		width: 1024px;
		margin: 0px auto;
		background-color: #fff;
		padding: 10px;
	}
	.footer {
		width: 1024px;
		background-color: #cacaca;
		padding: 10px;    
	}
}

@media screen and (min-width:768px) and (max-width:800px) {
	#container {
		width: 768px;	
	}
	
	#header {
		width: 768px;
		margin: 0px auto;
		background-color: #fff;
	}
	#logo {
		width: 768px;
	}
	#logo img {
		width: 768px;
	}
	#header-bar {
		height: 30px;
		background-color: #cacaca;
	}
	.header {
		width: 768px;
	}
	#content {
		width: 768px;
		margin: 0px auto;
		background-color: #fff;
		padding: 10px;
	}
	.footer {
		width: 768px;
		background-color: #cacaca;
		padding: 10px;    
	}
}

@media screen and (min-width:600px) and (max-width:768px) {
	#container {
		width: 600px;    
	}
	
	#header {
		width: 600px;
		margin: 0px auto;
		background-color: #fff;
	}
	#logo {
		width: 600px;	
	}
	#logo img {
		width: 600px;
	}
	#header-bar {
		height: 30px;
		background-color: #cacaca;
	}
	.header {
		width: 600px;
	}
	#content {
		width: 600px;
		margin: 0px auto;
		background-color: #fff;
		padding: 10px;
	}
	.footer {
		width: 600px;
		background-color: #cacaca;
		padding: 10px;    
	}
}

@media screen and (min-width:480px) and (max-width:600px) {
	#container {
		width: 480px;    
	}
	
	#header {
		width: 480px;
		margin: 0px auto;
		background-color: #fff;
	}
	#logo {
		width: 480px;	
	}
	#logo img {
		width: 480px;
	}
	#header-bar {
		height: 30px;
		background-color: #cacaca;
	}
	.header {
		width: 480px;
	}
	#content {
		width: 480px;
		margin: 0px auto;
		background-color: #fff;
		padding: 10px;
	}
	.footer {
		width: 480px;
		background-color: #cacaca;
		padding: 10px;    
	}
}

@media screen and (min-width:320px) and (max-width:480px) {
	#container {
		width: 320px;    
	}
	
	#header {
		width: 320px;
		margin: 0px auto;
		background-color: #fff;
	}
	#logo {
		width: 320px;
	}
	#logo img {
		width: 320px;
	}
	#header-bar {
		height: 30px;
		background-color: #cacaca;
	}
	.header {
		width: 320px;
	}
	#content {
		width: 320px;
		margin: 0px auto;
		background-color: #fff;
		padding: 10px;
	}
	.footer {
		width: 320px;
		background-color: #cacaca;
		padding: 10px;    
	}
}

#message {
	color: #ff0000;    
}

/**
* Image Crop
*/
.jcrop-holder {
  direction: ltr;
  text-align: left;
}
/* Selection Border */
.jcrop-vline,
.jcrop-hline {
  background: #ffffff url("./images/Jcrop.gif");
  font-size: 0;
  position: absolute;
}
.jcrop-vline {
  height: 100%;
  width: 1px !important;
}
.jcrop-vline.right {
  right: 0;
}
.jcrop-hline {
  height: 1px !important;
  width: 100%;
}
.jcrop-hline.bottom {
  bottom: 0;
}
/* Invisible click targets */
.jcrop-tracker {
  height: 100%;
  width: 100%;
  /* "turn off" link highlight */
  -webkit-tap-highlight-color: transparent;
  /* disable callout, image save panel */
  -webkit-touch-callout: none;
  /* disable cut copy paste */
  -webkit-user-select: none;
}
/* Selection Handles */
.jcrop-handle {
  background-color: #333333;
  border: 1px #eeeeee solid;
  width: 7px;
  height: 7px;
  font-size: 1px;
}
.jcrop-handle.ord-n {
  left: 50%;
  margin-left: -4px;
  margin-top: -4px;
  top: 0;
}
.jcrop-handle.ord-s {
  bottom: 0;
  left: 50%;
  margin-bottom: -4px;
  margin-left: -4px;
}
.jcrop-handle.ord-e {
  margin-right: -4px;
  margin-top: -4px;
  right: 0;
  top: 50%;
}
.jcrop-handle.ord-w {
  left: 0;
  margin-left: -4px;
  margin-top: -4px;
  top: 50%;
}
.jcrop-handle.ord-nw {
  left: 0;
  margin-left: -4px;
  margin-top: -4px;
  top: 0;
}
.jcrop-handle.ord-ne {
  margin-right: -4px;
  margin-top: -4px;
  right: 0;
  top: 0;
}
.jcrop-handle.ord-se {
  bottom: 0;
  margin-bottom: -4px;
  margin-right: -4px;
  right: 0;
}
.jcrop-handle.ord-sw {
  bottom: 0;
  left: 0;
  margin-bottom: -4px;
  margin-left: -4px;
}
/* Dragbars */
.jcrop-dragbar.ord-n,
.jcrop-dragbar.ord-s {
  height: 7px;
  width: 100%;
}
.jcrop-dragbar.ord-e,
.jcrop-dragbar.ord-w {
  height: 100%;
  width: 7px;
}
.jcrop-dragbar.ord-n {
  margin-top: -4px;
}
.jcrop-dragbar.ord-s {
  bottom: 0;
  margin-bottom: -4px;
}
.jcrop-dragbar.ord-e {
  margin-right: -4px;
  right: 0;
}
.jcrop-dragbar.ord-w {
  margin-left: -4px;
}
/* The "jcrop-light" class/extension */
.jcrop-light .jcrop-vline,
.jcrop-light .jcrop-hline {
  background: #ffffff;
  filter: alpha(opacity=70) !important;
  opacity: .70!important;
}
.jcrop-light .jcrop-handle {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #000000;
  border-color: #ffffff;
  border-radius: 3px;
}
/* The "jcrop-dark" class/extension */
.jcrop-dark .jcrop-vline,
.jcrop-dark .jcrop-hline {
  background: #000000;
  filter: alpha(opacity=70) !important;
  opacity: 0.7 !important;
}
.jcrop-dark .jcrop-handle {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #ffffff;
  border-color: #000000;
  border-radius: 3px;
}
/* Simple macro to turn off the antlines */
.solid-line .jcrop-vline,
.solid-line .jcrop-hline {
  background: #ffffff;
}
/* Fix for twitter bootstrap et al. */
.jcrop-holder img,
img.jcrop-preview {
  max-width: none;
}

a#scroll-top{ 
display:none;    
position:fixed;    
right:20px;    
bottom:20px; 
height:42px; 
width:42px; 
line-height:42px;    
background:#377f8f url(./images/scrolltop.png) center center no-repeat;    
opacity:0.8;    
-moz-opacity:0.8;    
-webkit-opacity:0.8;    
border-radius:4px;    
-moz-border-radius:4px;    
-webkit-border-radius:4px;    
-webkit-transition:all 0.25s ease-in-out; 
-moz-transition:all 0.25s ease-in-out; 
-o-transition:all 0.25s ease-in-out; 
}
 
a#scroll-top:hover{ 
background-color:#f56734; 
}

/**/
/*
    Common 
*/

.wizard,
.tabcontrol
{
    display: block;
    width: 100%;
    
}

.wizard a,
.tabcontrol a
{
    outline: 0;
}

.wizard ul,
.tabcontrol ul
{
    list-style: none !important;
    padding: 0;
    margin: 0;
}

.wizard ul > li,
.tabcontrol ul > li
{
    display: block;
    padding: 0;
}

/* Accessibility */
.wizard > .steps .current-info,
.tabcontrol > .steps .current-info
{
    position: absolute;
    left: -999em;
}

.wizard > .content > .title,
.tabcontrol > .content > .title
{
    position: absolute;
    left: -999em;
}



/*
    Wizard
*/

.wizard > .steps
{
    position: relative;
    display: block;
    width: 100%;
}

.wizard.vertical > .steps
{
    display: inline;
    float: left;
    width: 30%;
}

.wizard > .steps .number
{
    font-size: 1.429em;
}

.wizard > .steps > ul > li
{
    width: 25%;
}

.wizard > .steps > ul > li,
.wizard > .actions > ul > li
{
    float: left;
}

.wizard.vertical > .steps > ul > li
{
    float: none;
    width: 100%;
}

.wizard > .steps a,
.wizard > .steps a:hover,
.wizard > .steps a:active
{
    display: block;
    width: auto;
    margin: 0 0.5em 0.5em;
    padding: 1em 1em;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard > .steps .disabled a,
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active
{
    background: #eee;
    color: #aaa;
    cursor: default;
}

.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active
{
    background: #2184be;
    color: #fff;
    cursor: default;
}

.wizard > .steps .done a,
.wizard > .steps .done a:hover,
.wizard > .steps .done a:active
{
    background: #9dc8e2;
    color: #fff;
}

.wizard > .steps .error a,
.wizard > .steps .error a:hover,
.wizard > .steps .error a:active
{
    background: #ff3111;
    color: #fff;
}

.wizard > .content
{
    background: #eee;
    display: block;
    margin: 0.5em;
    min-height: 35em;
    overflow: hidden;
    position: relative;
    width: auto;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard.vertical > .content
{
    display: inline;
    float: left;
    margin: 0 2.5% 0.5em 2.5%;
    width: 65%;
}

.wizard > .content > .body
{
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}

.wizard > .content > .body ul
{
    list-style: disc !important;
}

.wizard > .content > .body ul > li
{
    display: list-item;
}

.wizard > .content > .body > iframe
{
    border: 0 none;
    width: 100%;
    height: 100%;
}

.wizard > .content > .body input
{
    display: block;
    border: 1px solid #ccc;
}

.wizard > .content > .body input[type="checkbox"]
{
    display: inline-block;
}

.wizard > .content > .body input.error
{
    background: rgb(251, 227, 228);
    border: 1px solid #fbc2c4;
    color: #8a1f11;
}

.wizard > .content > .body label
{
    display: inline-block;
    margin-bottom: 0.5em;
}

.wizard > .content > .body label.error
{
    color: #8a1f11;
    display: inline-block;
    margin-left: 1.5em;
}

.wizard > .actions
{
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
}

.wizard.vertical > .actions
{
    display: inline;
    float: right;
    margin: 0 2.5%;
    width: 95%;
}

.wizard > .actions > ul
{
    display: inline-block;
    text-align: right;
}

.wizard > .actions > ul > li
{
    margin: 0 0.5em;
}

.wizard.vertical > .actions > ul > li
{
    margin: 0 0 0 1em;
}

.wizard > .actions a,
.wizard > .actions a:hover,
.wizard > .actions a:active
{
    background: #2184be;
    color: #fff;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active
{
    background: #eee;
    color: #aaa;
}

.wizard > .loading
{
}

.wizard > .loading .spinner
{
}



/*
    Tabcontrol
*/

.tabcontrol > .steps
{
    position: relative;
    display: block;
    width: 100%;
}

.tabcontrol > .steps > ul
{
    position: relative;
    margin: 6px 0 0 0;
    top: 1px;
    z-index: 1;
}

.tabcontrol > .steps > ul > li
{
    float: left;
    margin: 5px 2px 0 0;
    padding: 1px;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabcontrol > .steps > ul > li:hover
{
    background: #edecec;
    border: 1px solid #bbb;
    padding: 0;
}

.tabcontrol > .steps > ul > li.current
{
    background: #fff;
    border: 1px solid #bbb;
    border-bottom: 0 none;
    padding: 0 0 1px 0;
    margin-top: 0;
}

.tabcontrol > .steps > ul > li > a
{
    color: #5f5f5f;
    display: inline-block;
    border: 0 none;
    margin: 0;
    padding: 10px 30px;
    text-decoration: none;
}

.tabcontrol > .steps > ul > li > a:hover
{
    text-decoration: none;
}

.tabcontrol > .steps > ul > li.current > a
{
    padding: 15px 30px 10px 30px;
}

.tabcontrol > .content
{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 35em;
    overflow: hidden;
    border-top: 1px solid #bbb;
    padding-top: 20px;
}

.tabcontrol > .content > .body
{
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}

.tabcontrol > .content > .body ul
{
    list-style: disc !important;
}

.tabcontrol > .content > .body ul > li
{
    display: list-item;
}

/* calendar */
.title-bar__prev{
  position: relative;
  float: left;
  text-align: left;
  cursor: pointer;
  width: 22px;
  height: 30px;
}
.title-bar__prev:after {
    content: "";
    display: inline;
    position: absolute;
    width: 14px;
    height: 14px;
    right: 0;
    left: 2px;
    top: 7px;
    margin: auto;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    -webkit-transform: rotate(224deg);
    transform: rotate(224deg);
}
.title-bar__next{
  position: relative;
  float: right;
  text-align: right;
  cursor: pointer;
  width: 22px;
  height: 30px;
}
.title-bar__next:after {
    content: "";
    display: inline;
    position: absolute;
    width: 14px;
    height: 14px;
    right: 2px;
    top: 7px;
    margin: auto;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    -webkit-transform: rotate(44deg);
    transform: rotate(44deg);
}

.calendar__days {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column wrap;
  -webkit-box-align: stretch;
          align-items: stretch;
  width: 100%;
  float: none;
  min-height: 580px;
  height: 100%;
}

.calendar__top-bar {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 32px;
          flex: 32px 0 0;
}

.top-bar__days {
  width: 100%;
  padding: 0 5px;
  color: #2d4338;
  font-weight: 500;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 1rem;
}

.calendar__week {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
          flex: 1 1 0;
}

.calendar__day {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 1.9rem 0.2rem 0.2rem;
  cursor: pointer;
  border: 1px solid #fafafa;
}

.calendar__day.event .calendar__date, .calendar__day.event .calendar__task{
  color: #4285f4;
}

.today {
  background-color: #fafafa;
}

.calendar__date {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  line-height: 0.01;
  text-decoration: underline;
  text-align: left;
}

.calendar__week .inactive .calendar__date,
.calendar__week .inactive .task-count {
  color: #dadada;
}
.calendar__week .today .calendar__date {
  color: red;
}

.calendar__task {
  color: #040605;
  display: -webkit-box;
  display: flex;
  font-size: 10px;
  text-align: right;
}

.calendar__task.calendar__task--today {
  color: red;

}